@page
@using Newtonsoft.Json.Linq; 
@using CS2CoachLibrary;

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!--Header-->
    <h1 id="BigText">Counter-Strike 2 WebCoach</h1> 

    <!--Line for search bar-->
    <form action="/User" method="get">
        <span id="NormalText">Sign in: </span>
        <input type="text" name="q" placeholder="Enter Steam ID" aria-label="Search through site content">
        <button type="submit">Search</button>
    </form>

    <br />

    <!--Begin your coaching for free!*-->
    <p id="BigText">Begin your coaching for free!*</p>


    <!--About paragraph-->
    <p id="NormalText">More than a tracker, it watches your gameplay and tells you how to improve. All stats are tracked with a seperate application and all updated here, including all your tips and strategies for improvement.</p>

    <p id="NormalText">*you gotta pay for the api fees with your own gemini api key</p>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />



</div>
