@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>No information that is collected publicly from Valve and from your Counter-Strike 2 visual feed is shared with third parties including sent to Google Gemini.</p>